/*!****************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/scss/theme.scss ***!
  \****************************************************************************************************************************************************************************************************************/
@media (pointer: coarse) {
  .mouse-device {
    display: none !important;
  }
}
@media (pointer: fine) {
  .mobile-device {
    display: none !important;
  }
}
:root {
  --header-buttons-shadow-color: rgba(0, 0, 0, 0.25);
  --header-buttons-shadow: 2px 2px 8px 0px var(--header-buttons-shadow-color);
}

/* -- HEADER -- */
@keyframes fr-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo svg {
  animation-name: fr-logo-spin;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0, 0.66, 0.47, 1.16);
  animation-delay: 1s;
  fill: var(--bs-body-color);
}

.logo {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}

#header-center,
#header-center *:not(.input-group) {
  gap: 0.25rem;
}

#header-buttons-wrapper {
  position: fixed;
  bottom: 80px;
  left: 1rem;
}

.right-hand #header-buttons-wrapper {
  right: 1rem;
  left: auto;
}

.right-hand #hand-theme .bi::before {
  transform: scale(-1, 1);
}

#header-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header-buttons [role=button],
#header-buttons [type=button] {
  border-radius: 12px;
  height: 42px;
  min-width: 42px;
  box-shadow: var(--header-buttons-shadow);
}
#header-buttons [type=button] > span,
#header-buttons [role=button] > span {
  display: none;
}
#header-buttons * > .dropdown-toggle {
  position: relative;
}

#fab {
  border-radius: 16px;
  height: 60px;
  width: 60px;
  margin-top: 1rem;
  box-shadow: 4px 4px 16px 1px var(--header-buttons-shadow-color);
}
#fab #rect-top {
  transform-origin: center;
  transform: translateY(-4px);
  transition: transform 0.3s ease;
}
#fab #rect-middle {
  transition: opacity 0.3s ease;
}
#fab #rect-bottom {
  transform-origin: center;
  transform: translateY(4px);
  transition: transform 0.3s ease;
}

#fab.active #rect-top {
  transform: translateY(0) rotateZ(45deg);
}
#fab.active #rect-middle {
  opacity: 0;
}
#fab.active #rect-bottom {
  transform: translateY(0) rotateZ(-45deg);
}

@media (width < 1200px) {
  #header-buttons {
    transform: translateY(65px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.2s ease;
    pointer-events: none;
  }
  #header-buttons-wrapper:has(#fab.active) #header-buttons {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.5s ease;
    pointer-events: all;
  }
  #header-buttons .dropdown-toggle::after {
    display: none;
  }
  #header-buttons .dropdown-menu {
    box-shadow: var(--header-buttons-shadow);
  }
}
@media (width < 1200px) and (height < 576px) {
  #header-buttons-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem !important;
  }
  #header-buttons {
    flex-direction: row;
    transform: translateX(-65px);
  }
  .right-hand #header-buttons {
    order: 2;
    transform: translateX(65px);
  }
  #fab {
    margin: 0;
  }
  #header-buttons-wrapper:has(#fab.active) #header-buttons {
    transform: translateX(0);
  }
  #header-buttons [role=button] > span,
  #header-buttons [type=button] > span {
    display: inline;
  }
}
@media (width < 1200px) and (height >= 576px) {
  #header-buttons [role=button],
  #header-buttons [type=button] {
    position: relative;
  }
  #header-buttons [role=button] > span,
  #header-buttons [type=button] > span {
    position: absolute;
    top: 2px;
    background: var(--bs-secondary-bg);
    left: 50px;
    text-wrap: nowrap;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    border-radius: var(--bs-border-radius);
    color: var(--bs-body-color);
    box-shadow: var(--header-buttons-shadow);
  }
  .right-hand #header-buttons [role=button] > span,
  .right-hand #header-buttons [type=button] > span {
    right: 50px;
    left: auto;
  }
}
@media (width < 1200px) and (height >= 576px) and (pointer: coarse) {
  #header-buttons [role=button]:not(.show) > span,
  #header-buttons [type=button]:not(.show) > span {
    display: block;
  }
}
@media (width < 1200px) and (height >= 576px) and (pointer: fine) {
  #header-buttons [role=button]:not(.show):hover > span,
  #header-buttons [type=button]:not(.show):hover > span {
    display: block;
  }
}
@media (width < 1200px) and (pointer: coarse) {
  #screen-options-menu .dropdown-menu.show #color-theme,
  #screen-options-menu .dropdown-menu.show #color-theme > span {
    background-color: transparent;
    box-shadow: none;
    height: auto;
  }
  #screen-options-menu .dropdown-menu.show #color-theme > span {
    padding: 0;
    position: static;
    display: inline;
  }
}
@media ((pointer: fine) and (width < 1200px)) or (width >= 1200px) {
  #screen-options-menu .dropdown-menu {
    display: block;
    box-shadow: none;
    position: static;
    border: none;
    padding: 0;
    min-width: 42px;
  }
  #screen-options-menu .dropdown-item {
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    color: var(--bs-btn-color);
    text-align: center;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    background-color: var(--bs-btn-bg);
    width: auto;
  }
}
@media (width >= 1200px) {
  #header-buttons-wrapper {
    position: static;
  }
  #header-buttons {
    flex-direction: row;
  }
  #header-buttons [role=button],
  #header-buttons [type=button] {
    border-radius: var(--bs-btn-border-radius);
    height: auto;
    width: auto;
    box-shadow: none;
  }
  #header-buttons [role=button] > span {
    display: inline;
  }
  #screen-options-menu .dropdown-menu:not(.show) #color-theme > span {
    display: none;
  }
}
body:not(.right-hand) #header-offcanvas .btn-close {
  margin-left: calc(-0.5 * var(--bs-offcanvas-padding-x));
  margin-right: auto;
}

#modalCategoryMenu .modal-header {
  border-bottom: none;
  display: none;
}

@media (width < 1200px) {
  #header-category-menu [data-bs-target="#modalCategoryMenu"] {
    pointer-events: none;
    background-color: transparent;
    border: none;
    color: var(--bs-body-color);
    font-size: 1.25rem;
    font-weight: 500;
  }
}
@media (width >= 1200px) {
  #modalCategoryMenu .modal-header {
    display: flex;
  }
}
@media (min-width: 1200px) {
  #modalCategoryMenu .modal-dialog {
    max-width: 1140px;
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  #modalCategoryMenu .modal-dialog {
    max-width: 1320px;
    width: 1320px;
  }
}
/* -- HEADER -- */
/* -- BackToTop Button -- */
#btt-button {
  border-radius: 12px;
  height: 42px;
  width: 42px;
  box-shadow: var(--header-buttons-shadow);
  position: fixed;
  left: calc(1rem + 9px);
  bottom: calc(38px - 1rem);
  transition: all 0.3s ease;
}

#btt-button:not(.show) {
  opacity: 0;
  transform: translateY(80px);
}

@media (width < 1200px) {
  .right-hand #btt-button {
    left: auto;
    right: calc(1rem + 9px);
  }
}
/* -- BackToTop Button -- */
