/* -- BackToTop Button -- */
#btt-button {
  --bs-btn-active-color: var(--bs-btn-color);
  --bs-btn-active-bg: var(--bs-btn-bg);
  --bs-btn-active-border-color: var(--bs-btn-border-color);

  border-radius: 12px;
  height: 42px;
  width: 42px;
  -webkit-box-shadow: var(--header-buttons-shadow);
  -moz-box-shadow: var(--header-buttons-shadow);
  box-shadow: var(--header-buttons-shadow);
  position: fixed;
  left: calc(1rem + 9px);
  bottom: calc(38px - 1rem);
  transition: all 0.3s ease;
}
#btt-button:not(.active) {
  opacity: 0;
  transform: translateY(80px);
}
#btt-button.active:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
@media (width < $xl-width) {
  .right-hand #btt-button {
    left: auto;
    right: calc(1rem + 9px);
  }
}
/* -- BackToTop Button -- */
