/* -- BackToTop Button -- */
#btt-button {
  border-radius: 12px;
  height: 42px;
  width: 42px;
  -webkit-box-shadow: var(--header-buttons-shadow);
  -moz-box-shadow: var(--header-buttons-shadow);
  box-shadow: var(--header-buttons-shadow);
  position: fixed;
  left: calc(1rem + 9px);
  bottom: calc(38px - 1rem);
  transition: all 0.3s ease;
}
#btt-button:not(.show) {
  opacity: 0;
  transform: translateY(80px);
}
@media (width < $xl-width) {
  .right-hand #btt-button {
    left: auto;
    right: calc(1rem + 9px);
  }
}
/* -- BackToTop Button -- */