:root {
  --header-buttons-shadow-color: rgba(0, 0, 0, 0.25);
  --header-buttons-shadow: 2px 2px 8px 0px var(--header-buttons-shadow-color);
}

/* -- HEADER -- */
@keyframes fr-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo svg {
  animation-name: fr-logo-spin;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0, 0.66, 0.47, 1.16);
  animation-delay: 1s;
  fill: var(--bs-body-color);
}
.logo {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
@import "header-center-buttons";
@import "header-center-offcanvas";
/* -- HEADER -- */
