/* -- HOME-MAIN-SLIDER -- */
@keyframes arrow-to-left {
  from {
    width: 42px;
    left: 52px;
        opacity: 0;

  }
  25% {
    width: 42px;
    left: 52px;
        opacity: 1;

  }
  50% {
    width: 84px;
    left: 10px;
  }
  75% {
    width: 42px;
    left: 10px;
    opacity: 1;
  }
  to {
    width: 42px;
    left: 10px;
        opacity: 0;

  }
}
#home-slider {


.carousel {
    position:relative;
    height: 250px;
    background-color: gainsboro;
}

@media (width < $xl-width) and (pointer: coarse) and (prefers-reduced-motion: no-preference) {
  .carousel-control {
    position: absolute;
            opacity: 0;
    height: 42px;
    top: calc(50% - 21px);
    bottom: calc(50% - 21px);
    border-radius: 21px;
    text-align: start;
    pointer-events: none;

// width: 84px;
// left: 10px;


&.animate {
    animation-name: arrow-to-left;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    }


 .bi {
  position: relative;
  display: block;
  height: 24px !important;
}

    .bi::before {
      font-weight: 600 !important;
      line-height: 24px;
    }
    .bi::after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 11px;
      top: 11px;
      left: 2px;
      right: 2px;
      height: 1px;
border-top: dashed #fff 1px;
    } 

  }
}
}
/* -- HOME-MAIN-SLIDER -- */